@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 100vh;
    font-family: 'Charm', cursive;
}

.animated {
    font-size: 12rem;
    background: url(/pexels-miguel-á-padriñán-806427.jpg) no-repeat;
    margin: 0;
    padding: 0;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBg 15s linear infinite;
    -webkit-animation: moveBg 15s linear infinite;    
}

/* text animation */
@keyframes moveBg {
    0% {
        background-position: 0% 30%;
    }

    100% {
        background-position: 100% 50%;
    }
}